* {
  padding: 0;
  margin: 0;
  border: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.slider__memes {
  display: flex;
  overflow-x: hidden;
  width: 37.5rem;;
}

.meme {
  width: 100%;
}

.slider__labels {
  display: flex;
  gap: 1rem;
}

.slider__label {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid rgb(12, 206, 236);
  border-radius: 0.8rem;
  display: block;
}

.slider__label:hover {
  background-color: rgb(12, 206, 236);
  cursor: pointer;
}

.slider__label:active {
  background-color: blueviolet;
  border-color: blueviolet;
}

.slider__radio {
  display: none;
}

.slider__radio[type="radio"]:checked + label {
  background-color: rgb(12, 206, 236);
}

#r2:checked + label ~ #label2 {
  background-color: black;
}

.meme {
  transition: transform 0.7s;
}

.meme__img {
  height: 90%;
  width: 37.5rem;
}

#r1:checked ~ .meme {
  transform: translateX(0%);
}

#r2:checked ~ .meme {
  transform: translateX(-100%);
}

#r3:checked ~ .meme {
  transform: translateX(-200%);
}

#r4:checked ~ .meme {
  transform: translateX(-300%);
}
